.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: #e78fb3;
  box-shadow: 2px 2px 50px rgb(202, 200, 200);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
  transform: translateX(-100%);
  transition: all 0.5 ease;
  opacity: 0;
}

.library-song {
  img {
    width: 30%;
  }
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  transition: background 1 ease;
  &:hover {
    background: rgb(75, 137, 156);
  }
}

.song-description {
  padding: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: red;
}

*::-webkit-scrollbar {
  scrollbar-width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: #9656a1;
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
